

.InfoContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.PlateNumber {
    /* flex-grow: 10; */
    font-weight: bold;
}

.PlateNumber,
.PlateNationality {
    font-size: 1em;
}

.PlateNumber {
    margin-right: 10px;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Column1 > a {
    margin-left: 15px;
}

.Bottom {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

button {
    width: 50%;
    margin-top: 8px;
}

input {
    width: 90%;
}

.DeleteButton {
    width: 24px;
    float: right;
    
}
