.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #264856;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    color: #F1FAEE
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

.Loading {
    background-color: red;
    height: 2px;
    width: 100%;
    margin: 0 auto;
    top: 56px;
    position: fixed;
    animation-name: example2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

/* Standard syntax */
@keyframes example {
    0%   {left:0%; }
    25%  {left:20%; width: 200px }
    50%  {left:40%; width: 50%}
    75%  {left:80%; width: 100px}
    100% {left:100%; }
}

@keyframes example2 {
    0%   {width: 10%; }
    /* 25%  {left:20%; width: 200px }
    50%  {left:40%; width: 50%}
    75%  {left:80%; width: 100px} */
    100% {width:100%; }
}

.Progress:not([value]) {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.alpha {
    font-size: 0.2em;
}

.ProjName {
    color: #ffffff;
}

.LoggedUser {
    display: flex;
}

.ProfileImage {
    margin-top: 10px;
    border-radius: 50%;
    width: 20%;
    height: 20%;
}
.UserName {
    margin-left: 20px;
    color: white;
}