body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: lighter;
}


.Icons_size {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: -5px;
}

p, h1, h2, h3, h4, h5, h6 {
  color: #264856;
}