.StatusBar {
  width: 400px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

@media (max-width: 375px) {
  .StatusBar {
      width: 95%;
  }
  
}

@media (max-width: 415px) {
  .StatusBar {
      width: 90%;
  }
}

input {
  width: 80%;
}
